llama-index-core
python-dotenv
anthropic
bertopic
umap-learn
scikit-learn
ell-ai
openai
numpy
scikit-learn
hdbscan
pdf2image
pytesseract
PyMuPDF
Pillow
llama-index-llms-anthropic
llama-index-embeddings-openai
llama-index-vector-stores-qdrant
matplotlib